* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif; /* Set the font family to Helvetica for the entire webpage */
}

body {
  overflow-x: hidden;
  background-color: #f8f7f4;
  color: black; /* Set the text color to white */
  margin-top: 90px;
}

body:not(.navbar):not(.footer) {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow */
}
.navbar-brand {
  padding-left: 10px;
  font-size: 34px;
  font-weight: bold;
  color: white; /* Set initial color to white */
}
.navbar-subtext {
  font-size: 12px;
  margin-left: 10px;
  color: white; /* Set initial color to white */
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  padding-right: 15px;
  font-size: large;
  color: white; /* Set initial color to white */
}

.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.text-overlay {
  position: relative;
  text-align: center; /* Align the overlay text to the center */
  color: white; /* Set initial color to white */
  z-index: 2;
}
.text-overlay h1 {
  font-size: 78px;
  margin-bottom: 20px;
}

.text-overlay p {
  font-size: 34px;
}

.container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  padding: 40px 40px 0px 40px; /* Add padding to the container if desired */
  line-height: 1.5;
  align-items: center;
  justify-items: center;
}

.container-black {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  padding: 30px; /* Add padding to the container if desired */
  line-height: 1.5;
  color: white;
  background-color: black;
}

.text {
  padding: 0px 60px 0px 60px;
  line-height: 1.7;
}

.column {
  width: 50%; /* Adjust the width of the columns as needed */
  text-align: left;
  line-height: 1.5;
  padding: 0px 20px 0px 20px;
}

.bigtext {
  font-size: 400%;
  padding: 5%;
  font-weight: bold;
  line-height: 1.2;
}

.list_desc {
  font-size: 200%;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 5%;
}
/* Add this to your CSS file */

.contact-us-section {
  text-align: center;
  margin-top: 20px;
}

.social-media-icons {
  list-style-type: none;
  padding: 0;
}

.navega {
  list-style-type: none;
  color: grey;
}

a .navega {
  color: grey;
}

.answer {
  display: none;
  padding: 0px 10px;
  transition: ease 0.3s;
}

.social-media-icons li {
  display: inline-block;
  margin-right: 10px;
}

.foto-casino-stic {
  width: 30rem;
}

.FAQbox {
  margin: 0px 30px 30px 30px;
  background-color: lightgrey;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
  border-radius: 20px;
  line-height: 2;
}

.FAQbox:hover {
  cursor: pointer;
}

.sobre-nosotros {
  padding: 35px;
  background-color: white;
  color: black;
  margin-top: 6%;
  line-height: 1.5;
}

.social-media-icons i {
  padding-top: 10px;
  font-size: 25px;
}

hr {
  margin: 15px 2px 15px 2px;
}

.map-container {
  width: 100%;
  height: 400px; /* Set a fixed or percentage-based height */
}

/* Ensure the iframe takes 100% width and height of its parent container */
.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0; /* Remove iframe border */
}

iframe {
  border-radius: 20px;
}

.submit {
  background-color: #1666d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  transition: ease 0.4s;
  font-weight: bold;
}

.logo {
  background-color: transparent;
  width: 100%;
}

/* Add this to your CSS file */
.sub-navbar {
  background-color: #eee;
  padding: 20px;
  position: relative;
  width: 100%;
  transition: top 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow */
}

.sub-navbar ul {
  list-style-type: none;
  text-align: center;
}

.sub-navbar li {
  display: inline-block;
  margin-right: 3rem;
}

.sub-navbar a {
  color: #333;
  font-weight: bold;
}

.sub-navbar.show {
  /* Actually do this shi 
  top: -40px; /* Adjust the height of your sub-navbar */
}

.submit:hover {
  background-color: white;
  color: #1666d9;
  border: none;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
  cursor: pointer;
  border: 1px solid #1666d9;
}

.faq-question {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrousel {
  width: 48%; /* Adjust the width of the columns as needed */
  text-align: center;
  background-color: #faf9f6;
  color: black;
  line-height: 1.5;
  border-radius: 30px; /* Adjust the radius as needed */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Shadow */
  margin: 2%;
  padding: 2%;
}

.contactform {
  justify-items: space-between;
  background-color: white; /* Off-white color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 20px;
}

label {
  padding: 2%;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input,
textarea {
  padding: 2%;
  margin: 1%;
  font-size: 100%;
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  resize: none;
}

textarea {
  height: 100px;
}

.container-footer {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  padding: 30px; /* Add padding to the container if desired */
  line-height: 1.7;
  text-align: left;
  align-items: start;
  justify-items: center;
  justify-content: center;
}

.patrocinadores {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
  background-color: white;
  color: black;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  text-align: center;
}

.arrow {
  float: right; /* Align the arrow to the right */
}

.column-footer {
  width: 30%; /* Adjust the width of the columns as needed */
  line-height: 2.5;
  padding-left: 50px;
}

.no-bullets {
  list-style-type: none;
}

.column-footer:last-child {
  border-left: 1px solid white; /* Remove border for the last div */
}

footer {
  margin-top: 2rem;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  line-height: 2.5;
}
